﻿    /***************/
    /* Desktop.css */
    /***************/

    input[type=checkbox] {
        transform: scale(1.5);
    }

    .button {
        font-size: large;
        margin-bottom: 3%;
        margin-left: 3%;
        margin-right: 3%;
    }
    .datasource-label--size {
        font-size: xx-small;
    }
    .gridview--size {
        font-size: medium;
    }
    .keycode-control {
        font-size: large;        
        margin-bottom: 3%;
        margin-left: 3%;
        margin-right: 3%;
    }
    .keycode-control--textbox {
        width: 6em;
    }
    .keycode-panel--size {
        width: 30%;
    }
    .keycode-table td {
        padding: 0%;
    }
    .keycode-table--size {
        /*Width setting to accomodate input validation messages on one line*/
        width: 100%;
    }
    .label--margintop {
        margin-top: 0%;
    }
    .label--size {
        font-size: large;
    }
    .reports-control--margintop {
        margin-top: 0%;
    }
    .reports-control--size {
        font-size: large;
    }
    .reports-panel--size {
        width: 30%;
    }
    .reports-table td {
        padding: 0%;
    }
    .reports-table--size {
        /*width: 60%;*/
        width: 100%;
    }
