﻿    /**************/
    /* Mobile.css */
    /**************/

    input[type=checkbox] {
        transform: scale(3);
    }

    .button {
        font-size:xx-large;
        margin-bottom: 0%;
        padding: 3%;
        width: 7em;
    }
    .datasource-label--size {
        font-size: small;
    }
    .gridview--size {
        font-size: xx-large;
    }
    .keycode-control{
        font-size:xx-large;
    }
    .keycode-control--textbox {
        width: 5em;
    }
    .keycode-panel--size {
        height: 100%;
        width: 40%;
    }
    .keycode-table td {
        padding: 3%;
    }
    .keycode-table--size {
        /*Width setting to accomodate input validation messages on one line*/
        padding: 5%;
        width: 100%;
    }
    .label--margintop {
        margin-top: 3%;
    }
    .label--size {
        font-size: xx-large;
    }
    .reports-control--margintop {
        margin-top: 3%;
    }
    .reports-control--size {
        font-size:xx-large;
    }
    .reports-panel--size {
        height: 100%;
        width: 40%;
    }
    .reports-table td {
        padding: 3%;
    }
    .reports-table--size {
        height: 100%;
        padding: 5%;
        width: 100%;
    }
